
.welcome {
	font-family: 'Crimson Text', serif;
	background: #666e76;
	min-width: 1250px;
	color: #fff;
}

.simsage-logo {
	margin-left: 10px;
	margin-top: 10px;
}

.welcome-box {
	margin-left: 400px;
}

.welcome-title {
	font-size: 1.6em;
	margin-top: 10px;
	width: 620px;
	padding: 10px;
	margin-bottom: 50px;
}

.next-steps-title {
	font-size: 1.5em;
	margin-left: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contact-title {
	font-size: 1.5em;
	margin-left: 250px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.welcome-text {
	font-size: 1.2em;
	width: 60%;
	margin-left: 200px;
	margin-bottom: 50px;
}

.boxes {
	float: left;
	margin-bottom: 50px;
	width: 100%
}

.intro-box {
	color: #fff;
	float: left;
	width: 20%;
	text-align: center;
	font-weight: 600;
	font-size: 1.3em;
	min-width: 100px;
	max-width: 150px;
	margin-left: 100px;
	background: #ff5555ee;
	position: relative;
	border-radius: 10px;
	height: 130px;
	padding: 20px;
}

.intro-box.arrow-right:after {
	content: " ";
	position: absolute;
	right: -25px;
	top: 50px;
	border-top: 25px solid transparent;
	border-right: none;
	border-left: 25px solid #ff5555ee;
	border-bottom: 25px solid transparent;
}

.box {
	color: #eee;
	float: left;
	width: 20%;
	margin-left: 50px;
	min-width: 200px;
	max-width: 250px;
	height: 150px;
	position: relative;
	background: #329ba8ee;
	border-radius: 10px;
	padding: 10px;
}

.box.arrow-right:after {
	content: " ";
	position: absolute;
	right: -25px;
	top: 50px;
	border-top: 25px solid transparent;
	border-right: none;
	border-left: 25px solid #329ba8ee;
	border-bottom: 25px solid transparent;
}

.works-best {
	margin-top: 10px;
	font-size: 0.75em;
}

.contact-text {
	width: 70%;
	font-size: 1.2em;
	margin-left: 200px;
	padding: 20px;
	background: #329ba8ee;
	border-radius: 5px;
}

.number-circle {
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	padding: 8px;
	background: #51a3ff;
	border: 2px solid #eeea;
	color: #fff;
	text-align: center;
	font: 32px Arial, sans-serif;
	cursor: default;
}

.next-steps {
	margin-bottom: 50px;
}

.next-step {
	float: left;
	width: 50%;
	font-size: 1.1em;
	margin-left: 200px;
	margin-bottom: 10px;
	padding: 20px;
}

.next-image-box {
	float: left;
	margin-right: 10px;
	width: 70px;
	text-align: center;
	background: #f0f0f0;
	padding: 5px;
	border-radius: 4px;
}

.next-image {
	width: 64px;
	height: 64px;
}

.next-step-text {
	float: left;
	width: 500px;
}

.welcome a:link {
  color: #eee;
}

.welcome a:visited {
  color: #eee;
}

.welcome a:hover {
  color: #fff;
}

.welcome a:active {
  color: #fff;
}

