
.app-menu {
}


.app-menu .logo-box {
    position: absolute;
    left: 10px;
    top: 10px;
}

.app-menu .logo, .logo {
    float: left;
    width: 200px;
}

.app-menu .home-image-container {
    float: right;
}

.app-menu .home-image {
    width: 32px;
}

.app-menu .version-text {
    font-size: 0.8em;
    margin-left: -20px;
}

.app-menu .sign-out-image-container {
    position: relative;
    float: right;
    right: 50px;
    top: 10px;
}

.app-menu .sign-out-image {
    width: 22px;
}

.app-menu {
    margin-right: 20px;
    margin-top: 4px;
    float: right;
}

