
.select-control {
    float: left;
}

.select-control .select-label {
    float: left;
    display: inline-block;
    text-align: right;
    width: 80px;
}

.select-control .select-box {
    float: left;
    margin-top: -12px;
    display: inline-block;
    width: 300px;
}

