

.category-page {
}

.new-category-button {
    float: right;
}

.category-page .category-row {
    width: 600px !important;
    float: left;
    margin-bottom: 10px;
}

.category-page .category-row:after {
    float: none;
}

.category-page .label-area {
    margin-top: 5px;
    display: inline-block;
    width: 150px !important;
    vertical-align: top;
}

.category-page .form-control {
    width: 400px !important;
}

.category-text-area-width {
    display: inline-block;
    width: 400px !important;
}

.category-trashcan {
    float: right;
}

.category-page .category-label {
    padding: 10px;
    color: #555;
}

.category-page .category-list {
    width: 600px;
    margin-left: 100px;
}