

.message-dialog-height {
    height: 300px;
}

.label {
    width: 150px;
    margin-right: 20px;
    text-align: right;
    margin-top: 4px;
    float: left;
}

.label-2 {
    width: 150px;
    margin-right: 20px;
    text-align: right;
    float: left;
}

.label-3 {
    width: 260px;
    margin-right: 20px;
    text-align: right;
    float: left;
}

.label-4 {
    width: 300px;
    margin-right: 20px;
    text-align: right;
    float: left;
}

.label-wide {
    width: 450px;
    margin-right: 20px;
    text-align: right;
    margin-top: 4px;
    float: left;
}

.text {
    float: left;
    width: 400px;
}

.id-width {
    padding-left: 20px;
    width: 320px;
}

.copied-style {
    padding-left: 10px;
    font-size: 12px;
}

.text:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.edit-box {
    width: 300px;
}

.sid-box {
    width: 300px;
}

.number-box {
    width: 100px;
}

.control-row {
    display: inline-block;
    height: 40px;
    width: 100%;
}

.control-row:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.control-only {
    float: left;
    margin-left: 150px;
    width: 400px;
}

.checkbox-only {
    display: inline-block;
    margin-left: 150px;
    width: 50px;
}

.cell-spacing {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.margin-left {
    margin-left: 170px;
}
