

.document-display .urlLabel {
    padding: 10px;
    color: #555;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.document-display .sourceLabel {
    padding: 10px;
    color: #555;
    width: 200px;
    overflow-wrap: break-word;
}

.document-display .timeLabel {
    width: 200px;
}

.document-display .label {
    padding: 4px;
    color: #555;
    width: 90px;
}

.document-display .status-label {
}

.document-display .statusImage {
    width: 16px;
    float: left;
}

