
.page-width {
    width: 900px;
}

.table-light {
}

.table-dark {
    background: #d0d0d0;
}

.tab {
    background-color: #f8f8f8;
    color: #000;
}

.add-image {
    width: 25px;
    cursor: pointer;
    color: green;
}

.knowledge-select {
    padding: 5px;
    margin-bottom: 40px;
}

.lhs {
    float: left;
    width: 150px;
    margin-top: -10px;
    color: #aaa;
}

.rhs {
    float: left;
}

.table-header-style {
    background: #555;
    font-size: 0.95em;
    color: #fff;
}

.label {
    margin-top: 20px;
    color: #555;
}

.link-button {
    float: left;
    padding: 10px;
    color: #888;
    cursor: pointer;
}

.image-button {
    float: right;
    padding: 10px;
    color: #888;
    cursor: pointer;
}

.download {
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 600;
    height: 24px;
}

.download-type {
    font-size: 0.9em;
    height: 24px;
}

.download-image {
    width: 24px;
}

.label-header {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

