

.edge-display .link-button {
    float: left;
    padding: 10px;
    color: #888;
    cursor: pointer;
}

.edge-display .image-button {
    float: right;
    padding: 10px;
    color: #888;
    cursor: pointer;
}


.edge-display .dl-image-size {
    width: 24px;
}

.edge-display .edit-box {
    width: 90%;
    margin-bottom: 15px;
}


.edge-display .line-height {
    height: 30px;
}

.edge-display .label-1 {
    width: 130px;
    display: inline-block;
}

.edge-display .guid {
    width: 330px;
    display: inline-block;
}

.edge-display .copied {
    margin-left: 5px;
}

.edge-display .edge-float-right {
    float: right;
    margin-right: 20px;
}

.edge-display .result-item {
    font-size: 10px;
}

.edge-display .command-item {
    font-weight: 600;
    margin-bottom: 20px;

}

