
.inventory-page {

}

.inventory-page .inventory-label {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inventory-page .refresh-image {
    float: right;
    width: 24px;
    cursor: pointer;
}

.inventory-page .snapshot-item {
    margin-bottom: 5px;
    font-size: 14px;
}

.inventory-page .image-button {
    float: right;
    padding: 10px;
    color: #888;
    cursor: pointer;
}

.inventory-page .add-image-disabled {
    float: right;
    margin-top: -8px;
    background-color: #aaaaaa;
    border-radius: 12px;
    cursor: pointer;
}

