
.kb-page {
    width: 900px;
}

.kb-height {
    height: 670px;
}

.kb-page .kb-label {
    color: #555;
}

.kb-page .kb-image-button {
    float: right;
    padding: 10px;
    color: #888;
    cursor: pointer;
}

.kb-page .edit-box {
    width: 500px;
    margin-bottom: 15px;
}

.kb-page .sid-box {
    width: 350px;
    margin-bottom: 15px;
}

.kb-page .time-tab-content {
    margin-left: 40px;
}

.kb-page .padding-bottom {
    display: inline-block;
    margin-bottom: 130px;
}


.kb-page .dialog-line-height {
    height: 30px;
}

.kb-page .organisation-id-label {
    width: 170px;
    float: left;
    height: 24px;
}

.kb-page .copy-image-span {
    float: left;
    margin-top: -5px;
    margin-left: 10px;
}

.kb-page .copied-style {
    font-size: 10px;
    margin-left: 25px;
    margin-top: -22px;
    position: absolute;
    float: left;
    z-index: 99;
}

.kb-page .float-left {
    float: left;
}

.kb-page .clipboard-image {
    width: 24px;
    height: 24px;
}


.kb-page .small-text-optimizer {
    font-size: 12px;
    font-weight: 500;
}
