

.mind-page .busy-body {
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 15px;
    width: 32px;
}

.mind-page .left-1 {
    float: left;
    width: 500px;
}

.mind-page .text-width {
    width: 500px;
}

.mind-search-results {
    display: inline-block;
}

.mind-page .mind-text-column {
    width: 700px;
    font-size: 12px;
}

.mind-page .full-column {
    width: 800px;
}

.mind-page .left {
    margin-left: 5px;
    float: left;
}

.mind-page .search-results-box {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 0.5px solid #ccc;
    width: 750px;
}

.mind-page .no-results {
    margin-top: 50px;
}

.mind-page .uploader {
    margin-top: -20px;
    float: left;
}

.mind-page .export {
    float: left;
}

.mind-page .image-button {
    float: right;
    padding: 10px;
    color: #888;
    cursor: pointer;
}

.mind-page .mind-search-results {
    font-size: 12px;
    width: 700px;
}

.mind-search-results .mind-score {
    width: 50px;
    vertical-align: top;
    display: inline-block;
}

.mind-search-results .mind-id {
    width: 50px;
    vertical-align: top;
    display: inline-block;
}

.mind-search-results .mind-result-text {
    width: 600px;
    display: inline-block;
}

.mind-search-results .image-holder {
    float: left;
    margin-right: 5px;
}

.mind-search-results .url-style {
    float: left;
    font-size: 0.8em;
    margin-right: 10px;
    cursor: pointer;
}

.mind-search-results .image-list-container {
    margin-left: 100px;
}

.mind-search-results .url-list-container {
    margin-left: 100px;
}

.mind-page .preview-image-size {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
}

.mind-page .bottom-td-margin {
    padding-top: 20px;
}

