
.report-page {
    width: 900px;
}

.report-page .download-button {
    float: right;
}

.report-page .date-select {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}

.report-page .bar-graphs {
    float: left;
    margin: 20px;
    min-width: 440px;
    width: 900px;
}

.report-page .bar-graph {
    float: left;
    width: 410px;
    height: 450px;
    margin: 10px;
}

