
.search-page .search-bar {
    display: inline-block;
}

.search-page .busy-box {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    width: 32px;
    float: left;
    display: inline-block;
}

.search-page .search-text-box {
    margin-bottom: 16px;
    width: 400px;
    float: left;
}

.search-page .search-text {
    width: 400px;
}

.search-page .search-button-box {
    float: left;
    margin-left: 20px;
    margin-top: 14px;
}

.search-page .qna-response-bubble {
    margin-left: 20px;
    background: blue;
    color: white;
    border-radius: 5px;
    width: 600px;
    padding: 10px;
    margin-bottom: 10px;
}

.search-page .url-list {
    margin-top: 10px;
}

.search-page .url {
    font-size: 12px;
    cursor: pointer;
}

.search-page .search-result-box {
    padding: 10px;
    border-radius: 4px;
    width: 700px;
    border: 0.5px solid #ccc;
}

