
.header-height {
    height: 100px;
    width: 100vw;
    background-color: #f0f0f080;
}

.auth-inner {
    width: 400px;
}


.sign-in-button {
    position: absolute;
    right: 20px;
}

.sign-in-title {
    margin-left: 220px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 600;
    transform: scaleY(1.2);
    cursor: default;
}

.text-right {
    margin-top: 4px;
    margin-left: 220px;
    cursor: pointer;
    color: #1c9bd2;
}

.auth-text-primary {
    color: #1c9bd2;
}

.licence_link {
    font-size: 13px;
    width: 150px;
    float: right;
}

.version {
    font-size: 10px;
    color: rgba(32, 39, 49, 0.3764705882);
}

