
.header-height {
    height: 100px;
    width: 100vw;
    background-color: #f0f0f080;
}

.sign-in-button {
    position: absolute;
    right: 20px;
}

.sign-in-title {
    margin-left: 220px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 600;
    transform: scaleY(1.2);
    cursor: default;
}

.text-right {
    margin-top: 4px;
    margin-left: 220px;
    cursor: pointer;
    color: #1c9bd2;
}

