

.synonym-page .input-area {
    width: 700px;
    display: inline-block;
    padding: 10px;
}

.synonym-column-width {
    width: 600px;
}

.icon-left {
    display: inline-block;
    margin-right: 10px;
}

.synonym-column-width-display {
    width: 600px;
    inline-size: 600px;
    overflow-wrap: break-word;
}