
.time-select .tableStyle {
    margin-top: 10px;
    font-size: 12px;
    width: 90%;
}

.time-select .active {
    background-color: #eed000;
}

.time-select .inactive {
    background-color: #c0c0c0;
}

.time-select .tHeader {
    height: 22px;
    margin-bottom: 5px;
}

.time-select .tCol {
    height: 22px;
    margin-bottom: 5px;
}

.time-select .tCell {
    background-color: #c0c0c0;
}

.time-select .legenda {
    float: left;
    margin-top: 20px;
}

.time-select .activeText {
    background-color: #eed000;
    color: #444;
    float: left;
    width: 100px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
}

.time-select .inactiveText {
    background-color: #c0c0c0;
    color: #444;
    float: left;
    width: 100px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
}

.time-select .button1 {
    float: left;
    padding: 5px;
    margin-left: 100px;
    margin-top: -10px;
}

.time-select .button2 {
    float: left;
    padding: 5px;
    margin-left: 10px;
    margin-top: -10px;
}

.time-select .labelTop {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: 600;
}

