
.time-select .tableStyle {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
}

.time-select .active {
    background-color: #0d6efd50;
    border: 1px solid #fff;
}
.time-select .active:hover {
    background-color: #0d6efd60;
}

.time-select .inactive {
    background-color: #eee;
    border: 1px solid #fff;
}
.time-select .inactive:hover {
    background-color: #e8e8e8;
}

/* Disabled versions */
.time-select .dim-active {
    background-color: #0d6efd30; /* Dimmed active color */
    border: 1px solid #ccc; /* Slightly lighter border to indicate disabled state */
}
.time-select .dim-active:hover {
    background-color: #0d6efd30; /* Same as the default to indicate no change on hover */
}

.time-select .dim-inactive {
    background-color: #ddd; /* Dimmed inactive color */
    border: 1px solid #ccc; /* Slightly lighter border to indicate disabled state */
}
.time-select .dim-inactive:hover {
    background-color: #ddd; /* Same as the default to indicate no change on hover */
}

.time-select .tHeader {
    height: 22px;
    margin-bottom: 5px;
}

.time-select .tCol {
    height: 22px;
    margin-bottom: 5px;
}

.time-select .tCell {
    background-color: #c0c0c0;
}

.time-select .legenda {
    /* float: left; */
    margin-top: 20px;
}

.time-select .activeText {
    background-color: #0d6efd50;
    color: #0d6efd;
    width: 100px;
    font-size: 12px;
    border-radius: 0px 4px 4px 0px;
    padding: 5px;
    border: none;
}
.time-select .activeText:hover {
    background-color: #0d6efd60;
}

.time-select .inactiveText {
    background-color: #eee;
    color: #444;
    width: 100px;
    font-size: 12px;
    border-radius: 4px 0px 0px 4px;
    padding: 5px;
    border: none;
}
.time-select .inactiveText:hover {
    background-color: #e8e8e8;
}

.time-select .button1 {
    float: left;
    padding: 5px;
    margin-left: 100px;
    margin-top: -10px;
}

.time-select .button2 {
    float: left;
    padding: 5px;
    margin-left: 10px;
    margin-top: -10px;
}

.time-select .labelTop {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: 600;
}





.time-select-dark .tableStyle {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
}

.time-select-dark .active {
    background-color: #73C2FBaa;
    border: 1px solid #000;
}
.time-select-dark .active:hover {
    background-color: #aaa;
}

.time-select-dark .inactive {
    background-color: #0d6efd50;
    border: 1px solid #000;
}
.time-select-dark .inactive:hover {
    background-color: #e8e8e8;
}

/* Disabled versions */
.time-select-dark .dim-active {
    background-color: #73C2FB55; /* Dimmed active color */
    border: 1px solid #000; /* Slightly lighter border to indicate disabled state */
}
.time-select-dark .dim-active:hover {
    background-color: #aaa; /* Same as the default to indicate no change on hover */
}

.time-select-dark .dim-inactive {
    background-color: #0d6efd30; /* Dimmed inactive color */
    border: 1px solid #000; /* Slightly lighter border to indicate disabled state */
}
.time-select-dark .dim-inactive:hover {
    background-color: #aaa; /* Same as the default to indicate no change on hover */
}

.time-select-dark .tHeader {
    height: 22px;
    margin-bottom: 5px;
}

.time-select-dark .tCol {
    height: 22px;
    margin-bottom: 5px;
}

.time-select-dark .tCell {
    background-color: #c0c0c0;
}

.time-select-dark .legenda {
    /* float: left; */
    margin-top: 20px;
}

.time-select-dark .activeText {
    background-color: #0d6efd50;
    color: #0d6efd;
    width: 100px;
    font-size: 12px;
    border-radius: 0px 4px 4px 0px;
    padding: 5px;
    border: none;
}
.time-select-dark .activeText:hover {
    background-color: #0d6efd60;
}

.time-select-dark .inactiveText {
    background-color: #eee;
    color: #444;
    width: 100px;
    font-size: 12px;
    border-radius: 4px 0px 0px 4px;
    padding: 5px;
    border: none;
}
.time-select-dark .inactiveText:hover {
    background-color: #e8e8e8;
}

.time-select-dark .button1 {
    float: left;
    padding: 5px;
    margin-left: 100px;
    margin-top: -10px;
}

.time-select-dark .button2 {
    float: left;
    padding: 5px;
    margin-left: 10px;
    margin-top: -10px;
}

.time-select-dark .labelTop {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: 600;
}

